<h3 class="title">{{screenItem.display.title}}</h3>

<fa-icon 
    (click)="toggleDropDown()"
    class="btn-drop-down"
    [icon]="dropDownIcon">
</fa-icon>


<app-display-item-settings
    *ngIf="showSettings"
    [@settingDropDown]
    (onDeleteScreenItem)="removeScreenItem($event)"
    (onMoveScreenItem)="moveScreenItem($event)"
    (onResizeScreenItem)="resizeScreenItem($event)"
    [screenItem]="screenItem">
</app-display-item-settings>

<div [ngSwitch]="screenItem.display.type" class="container" #container>
    <ng-template ngSwitchCase="graphDepricated">
        <app-display-item-graph 
        [screenItem]="screenItem"
        ></app-display-item-graph>
    </ng-template>

    <ng-template ngSwitchCase="radial">
        <app-display-item-radial 
        [screenItem]="screenItem"
        ></app-display-item-radial>
    </ng-template>

    <ng-template ngSwitchCase="linear">
        <app-display-item-linear 
        [screenItem]="screenItem"
        ></app-display-item-linear>
    </ng-template>

    <ng-template ngSwitchCase="map">
        <app-display-item-map 
        [screenItem]="screenItem"
        ></app-display-item-map>
    </ng-template>

    <ng-template ngSwitchCase="warnings">
        <app-display-item-warnings 
        [screenItem]="screenItem"
        ></app-display-item-warnings>
    </ng-template>

    <ng-template ngSwitchCase="camera">
        <app-display-item-camera 
        [screenItem]="screenItem"
        ></app-display-item-camera>
    </ng-template>

    <ng-template ngSwitchCase="communication">
        <app-display-item-communication 
        [screenItem]="screenItem"
        ></app-display-item-communication>
    </ng-template>

    <ng-template ngSwitchCase="arm">
        <app-display-item-arm 
        [screenItem]="screenItem"
        ></app-display-item-arm>
    </ng-template>

    <ng-template ngSwitchCase="data">
        <app-display-item-data 
        [screenItem]="screenItem"
        ></app-display-item-data>
    </ng-template>

    <ng-template ngSwitchCase="movement">
        <app-display-item-movement 
        [screenItem]="screenItem"
        ></app-display-item-movement>
    </ng-template>

    <ng-template ngSwitchCase="arm-modes">
        <app-display-item-arm-modes 
        [screenItem]="screenItem"
        ></app-display-item-arm-modes>
    </ng-template>

    <ng-template ngSwitchCase="claw">
        <app-display-item-claw 
        [screenItem]="screenItem"
        ></app-display-item-claw>
    </ng-template>

    <ng-template ngSwitchCase="console">
        <app-display-item-console 
        [screenItem]="screenItem"
        ></app-display-item-console>
    </ng-template>

    <ng-template ngSwitchCase="graph">
        <app-display-graph 
        [screenItem]="screenItem"
        ></app-display-graph>
    </ng-template>
</div>






    








