.container{
    background-color: rgb(45, 52, 62);
    height: 100vh;
}

.grid{
    padding-bottom: 10px;
}

.drag-handle {
    width: 50px;
    height: 23px;
    
    position: fixed;
    pointer-events: auto;
}







