.container{
    background-color: rgb(45, 52, 62);
}

.loading-spinner {
    position: absolute;
    margin-top: -7px;
    margin-left: -10px;
}


.grid{
    padding-bottom: 10px;
}

.drag-handle {
    width: 50px;
    height: 23px;
    position: fixed;
    pointer-events: auto;
}







