.container{
    background-color: rgb(45, 52, 62);
}

.grid{
    padding-bottom: 10px;
}

.drag-handle {
    width: 50px;
    height: 23px;
    
    position: fixed;
    pointer-events: auto;
}

::-webkit-scrollbar-track-piece  {
    background-color: red;
    }






