.display{
    height: calc(100%);;
}

.graph {
    height: 100%;
    width: 100%;
    margin-left: -20px;
}

.legend {
    margin-left: 70px;
    float: left;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.graph-controller{
    margin-left: calc(100% - 30px);
    margin-top: 2px;
    position:absolute;
    top:0;
    color:rgb(98, 108, 132);
}

.play-btn {
    margin-left: calc(100% - 50px);
    margin-top: 2px;
    position:absolute;
    top:0;
}

.form {
    margin: auto;
}

::ng-deep .menu {
    background-color: rgb(84, 91, 101) !important;
}