.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    background-color: rgb(74, 88, 107);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    -webkit-user-select: none;
}

.add-button-container{

}

.sidebar-button-container {
    margin-left: 10px;
}

.mute-button-container {
    
}

h3 {
    margin-top: 7px;
    margin-bottom: 0px;
    color: gainsboro
}

.view {
    margin-left: auto;
    margin-right: auto;
}

.item{
    flex:none;
}

.warning-status {
    
    color: rgb(67, 79, 95);
}

.arduino-connection-status{
    
}

.server-connection-status {
    
    margin-right: 10px;
}