.container {
    margin-left: 15px;
    margin-right: 15px;
    width: calc( 100% - 30px);
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 20px
}

.item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px
}

.button {
    background-color: rgb(255,215,64);
    color: black
}