<div class="container">
    <div class="item">
        <fa-icon
            [ngStyle]="(this.buttonState == 1) ? this.styleOn : this.styleOff"
            [icon]="faCircle">
        </fa-icon>
        <button mat-button class="button" (click)="setButton(1)">Box</button>
    </div>
    <div class="item">
        <fa-icon
            [ngStyle]="(this.buttonState == 2) ? this.styleOn : this.styleOff"
            [icon]="faCircle">
        </fa-icon>
        <button mat-button class="button" (click)="setButton(2)">Slow</button>
    </div>
    <div class="item">
        <fa-icon
            [ngStyle]="(this.buttonState == 3) ? this.styleOn : this.styleOff"
            [icon]="faCircle">
        </fa-icon>
        <button mat-button class="button" (click)="setButton(3)">Push</button>
    </div>

</div>