<div class="container">
    <mat-grid-list cols="5" rows="7" rowHeight="4:1.8" [gutterSize]="'0px'"> 
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile
            class="grid-item"
            [colspan]="1"
            [rowspan]="1">
            <!-- up -->
            <fa-icon
                *ngIf="motors.motorOne.forwards&&motors.motorOne.speed>0&&motors.motorOne.enabled"
                [icon]="faArrowUp"
                [ngStyle]="{'transform': 'rotate('+(motors.motorOne.rotation-135)+'deg)'}"
                size="3x">
            </fa-icon>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile
            class="grid-item"
            [colspan]="1"
            [rowspan]="1">
            <!-- up -->
            <fa-icon
                *ngIf="motors.motorTwo.forwards&&motors.motorTwo.speed>0&&motors.motorTwo.enabled"
                [icon]="faArrowUp"
                [ngStyle]="{'transform': 'rotate('+(motors.motorTwo.rotation-45)+'deg)'}"
                size="3x">
            </fa-icon>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
        </mat-grid-tile>

        <mat-grid-tile
            class="grid-item"
            [colspan]="1"
            [rowspan]="1">
            <!-- speed -->
            <fa-icon
                *ngIf="!motors.motorOne.enabled"
                [icon]="faLock"
                [ngStyle]="{'color': 'rgb(0,0,0)'}"
                size="2x">
            </fa-icon>
            <h1 *ngIf="motors.motorOne.enabled">
                {{motors.motorOne.speed}}
            </h1>
        </mat-grid-tile>
        <mat-grid-tile
            class="grid-item"
            [colspan]="1"
            [rowspan]="1">
            <!-- wheel -->
            <fa-icon 
                [icon]="faSquareCaretUp"
                [ngStyle]="{
                    'color': 'rgb(255,215,64)',
                    'transform': 'rotate('+(motors.motorOne.rotation-135)+'deg)'
                    }"
                size="3x">
            </fa-icon>
        </mat-grid-tile>
        <mat-grid-tile
            class="vehicle-item"
            [colspan]="1"
            [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile
            class="grid-item"
            [colspan]="1"
            [rowspan]="1">
            <!-- wheel -->
            <fa-icon 
                [icon]="faSquareCaretUp"
                [ngStyle]="{'color': 'rgb(255,215,64)',
                'transform': 'rotate('+(motors.motorTwo.rotation-45)+'deg)'
                }"
                size="3x">
            </fa-icon>
        </mat-grid-tile>
        <mat-grid-tile
            class="grid-item"
            [colspan]="1"
            [rowspan]="1">
            <!-- speed -->
            <fa-icon
                *ngIf="!motors.motorTwo.enabled"
                [icon]="faLock"
                [ngStyle]="{'color': 'rgb(0,0,0)'}"
                size="2x">
            </fa-icon>
            <h1 *ngIf="motors.motorTwo.enabled">
                {{motors.motorTwo.speed}}
            </h1>
        </mat-grid-tile>

        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile
            class="grid-item"
            [colspan]="1"
            [rowspan]="1">
            <!-- down -->
            <fa-icon
                *ngIf="(!motors.motorOne.forwards)&&motors.motorOne.speed>0&&motors.motorOne.enabled"
                [icon]="faArrowDown"
                [ngStyle]="{'transform': 'rotate('+(motors.motorOne.rotation-135)+'deg)'}"
                size="3x">
            </fa-icon>
        </mat-grid-tile>
        <mat-grid-tile
            class="vehicle-item"
            [colspan]="1"
            [rowspan]="1">
            <fa-icon
                [icon]="faCircleArrowUp"
                
                size="2x">
            </fa-icon>
        </mat-grid-tile>
        <mat-grid-tile
            class="grid-item"
            [colspan]="1"
            [rowspan]="1">
            <!-- down -->
            <fa-icon
                *ngIf="(!motors.motorTwo.forwards)&&motors.motorTwo.speed>0&&motors.motorTwo.enabled"
                [icon]="faArrowDown"
                [ngStyle]="{'transform': 'rotate('+(motors.motorTwo.rotation-45)+'deg)'}"
                size="3x">
            </fa-icon>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
        </mat-grid-tile>

        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile
            class="grid-item"
            [colspan]="1"
            [rowspan]="1">
            <!-- up -->
            <fa-icon
                *ngIf="motors.motorThree.forwards&&motors.motorThree.speed>0&&motors.motorThree.enabled"
                [icon]="faArrowUp"
                [ngStyle]="{'transform': 'rotate('+(motors.motorThree.rotation-135)+'deg)'}"
                size="3x">
            </fa-icon>
        </mat-grid-tile>
        <mat-grid-tile
            class="vehicle-item"
            [colspan]="1"
            [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile
            class="grid-item"
            [colspan]="1"
            [rowspan]="1">
            <!-- up -->
            <fa-icon
                *ngIf="motors.motorFour.forwards&&motors.motorFour.speed>0&&motors.motorFour.enabled"
                [icon]="faArrowUp"
                [ngStyle]="{'transform': 'rotate('+(motors.motorFour.rotation-45)+'deg)'}"
                size="3x">
            </fa-icon>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
        </mat-grid-tile>

        <mat-grid-tile
            class="grid-item"
            [colspan]="1"
            [rowspan]="1">
            <!-- speed -->
            <fa-icon
                *ngIf="!motors.motorThree.enabled"
                [icon]="faLock"
                [ngStyle]="{'color': 'rgb(0,0,0)'}"
                size="2x">
            </fa-icon>
            <h1 *ngIf="motors.motorThree.enabled">
                {{motors.motorThree.speed}}
            </h1>
        </mat-grid-tile>
        <mat-grid-tile
            class="grid-item"
            [colspan]="1"
            [rowspan]="1">
            <!-- wheel -->
            <fa-icon 
                [icon]="faSquareCaretUp"
                [ngStyle]="{'color': 'rgb(255,215,64)',
                'transform': 'rotate('+(motors.motorThree.rotation-135)+'deg)'
                }"
                size="3x">
            </fa-icon>
        </mat-grid-tile>
        <mat-grid-tile
            class="vehicle-item"
            [colspan]="1"
            [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile
            class="grid-item"
            [colspan]="1"
            [rowspan]="1">
            <!-- wheel -->
            <fa-icon 
                [icon]="faSquareCaretUp"
                [ngStyle]="{'color': 'rgb(255,215,64)',
                'transform': 'rotate('+(motors.motorFour.rotation-45)+'deg)'
                }"
                size="3x">
            </fa-icon>
        </mat-grid-tile>
        <mat-grid-tile
            class="grid-item"
            [colspan]="1"
            [rowspan]="1">
            <!-- speed -->
            <fa-icon
                *ngIf="!motors.motorFour.enabled"
                [icon]="faLock"
                [ngStyle]="{'color': 'rgb(0,0,0)'}"
                size="2x">
            </fa-icon>
            <h1 *ngIf="motors.motorFour.enabled">
                {{motors.motorFour.speed}}
            </h1>
        </mat-grid-tile>

        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile
            class="grid-item"
            [colspan]="1"
            [rowspan]="1">
            <!-- down -->
            <fa-icon
                *ngIf="(!motors.motorThree.forwards)&&motors.motorThree.speed>0&&motors.motorThree.enabled"
                [icon]="faArrowDown"
                [ngStyle]="{'transform': 'rotate('+(motors.motorThree.rotation-135)+'deg)'}"
                size="3x">
            </fa-icon>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
            <!-- input speed -->
            <mat-form-field class="number-input">
                <input matInput 
                    class="number"
                    type="number"
                    [min]="0"
                    [max]="1"
                    step="0.01"
                    placeholder="Speed"
                    autocomplete="off"
                    [(ngModel)]="speed"
                    (change)="sendSpeedTelemetry($event)">
            </mat-form-field>

            
        </mat-grid-tile>
        <mat-grid-tile
            class="grid-item"
            [colspan]="1"
            [rowspan]="1">
            <!-- down -->
            <fa-icon
                *ngIf="(!motors.motorFour.forwards)&&motors.motorFour.speed>0&&motors.motorFour.enabled"
                [icon]="faArrowDown"
                [ngStyle]="{'transform': 'rotate('+(motors.motorFour.rotation-45)+'deg)'}"
                size="3x">
            </fa-icon>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="5"
            [rowspan]="1">
                <!-- armed -->
                <button mat-flat-button 
                    color="warn"
                    (click)="toggleArmed()"
                    [ngStyle]="(armed) ? {'background-color': 'rgb(244,67,54)'} : {'background-color': 'rgb(28, 138, 55)'}">
                    {{(armed ? 'Armed' : 'Disarmed')}}
                </button>
        </mat-grid-tile>

       
    </mat-grid-list>
</div>
