<mat-sidenav-container>
    <mat-sidenav [(opened)]="showSidebar">

        <div class="nav-item-list">

            <img src="/assets/images/logo.png" class="logo" alt="Logo">

            <button 
                class="list-item"
                (click)="toggleSideBar()"
                routerLink="/screens/dashboard"
                mat-button>

                <div class="item-contents">
                    <fa-icon
                        class="fa-solid fa-plus fa-2x"
                        [icon]="faHouse"
                        [ngStyle]="{ 'color':'rgb(230, 86, 46)', 'cursor':'pointer'}">
                    </fa-icon>
                    Dashboard
                </div>
            </button>

            <button 
                class="list-item"
                (click)="toggleSideBar()"
                routerLink="/screens/control-systems"
                mat-button>

                <div class="item-contents">
                    <fa-icon
                        class="fa-solid fa-signal-stream fa-2x"
                        [icon]="faRss"
                        [ngStyle]="{ 'color':'rgb(230, 86, 46)'}">
                    </fa-icon>
                    Control Systems
                </div>
            </button>

            <button 
                class="list-item"
                (click)="toggleSideBar()"
                routerLink="/screens/car"
                mat-button>
                
                <div class="item-contents">
                    <fa-icon
                        class="fa-solid faCar fa-2x"
                        [icon]="faCar"
                        [ngStyle]="{ 'color':'rgb(230, 86, 46)'}">
                    </fa-icon>
                    Car
                </div>
            </button>

            <button 
                class="list-item"
                (click)="toggleSideBar()"
                routerLink="/screens/performance"
                mat-button>
                
                <div class="item-contents">
                    <fa-icon
                        class="fa-solid faGaugeHigh fa-2x"
                        [icon]="faGaugeHigh"
                        [ngStyle]="{ 'color':'rgb(230, 86, 46)'}">
                    </fa-icon>
                    Performance
                </div>
            </button>

            <button 
                class="list-item"
                (click)="toggleSideBar()"
                routerLink="/screens/engine"
                mat-button>
                
                <div class="item-contents">
                    <fa-icon
                        class="fa-solid faRocket fa-2x"
                        [icon]="faRocket"
                        [ngStyle]="{ 'color':'rgb(230, 86, 46)'}">
                    </fa-icon>
                    Engine
                </div>
            </button>

            <button 
                class="list-item"
                (click)="toggleSideBar()"
                routerLink="/data-analysis"
                mat-button>
                
                <div class="item-contents">
                    <fa-icon
                        class="fa-solid fa-char-line fa-2x"
                        [icon]="faChartLine"
                        [ngStyle]="{ 'color':'rgb(230, 86, 46)'}">
                    </fa-icon>
                    Data Analysis
                </div>
            </button>

            <button 
                class="list-item"
                (click)="toggleSideBar()"
                routerLink="/communications"
                mat-button>
                
                <div class="item-contents">
                    <fa-icon
                        class="fa-solid fa-char-line fa-2x"
                        [icon]="faSatelliteDish"
                        [ngStyle]="{ 'color':'rgb(230, 86, 46)'}">
                    </fa-icon>
                    Communications
                </div>
            </button>

            <button 
                class="list-item"
                (click)="toggleSideBar()"
                routerLink="/create-display"
                mat-button>
                
                <div class="item-contents">
                    <fa-icon
                        class="fa-solid fa-signal-stream fa-2x"
                        [icon]="faSquarePlus"
                        [ngStyle]="{ 'color':'rgb(230, 86, 46)'}">
                    </fa-icon>
                    Create display
                </div>
            </button>


            <button 
                class="list-item about"
                (click)="toggleSideBar()"
                routerLink="/about"
                mat-button>
                
                <div class="item-contents">
                    <fa-icon
                        class="fa-solid fa-signal-stream fa-2x"
                        [icon]="faCircleInfo"
                        [ngStyle]="{ 'color':'rgb(230, 86, 46)'}">
                    </fa-icon>
                    About
                </div>
            </button>
            

        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="container">
            <app-header></app-header>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
