<div class="container">
    <div class="item">
        <button mat-button class="button" (click)="sendArmCommand(0)" >Store</button>
        <!-- <button mat-button class="button" (click)="sendArmCommand(0)" 
        [ngStyle]="{ 'background-color': prm.PackageCount ? 'green' : 'red' }">Store</button> -->
    </div>
    <div class="item">
        <button mat-button class="button" (click)="sendArmCommand(1)">Deploy</button>
    </div>
    <div class="item">
        <button mat-button class="button" (click)="sendArmCommand(2)">Stow</button>
    </div>
</div>