<div class="container">
    <div class="item">
        <button mat-button class="button" (click)="sendArmCommand(0)"
        [ngStyle]="stowBtnStyle"
        >Stow</button>
        
    </div>
    <div class="item">
        <button mat-button class="button" (click)="sendArmCommand(1)"
        [ngStyle]="deployBtnStyle"
        >Deploy</button>
    </div>
    <div class="item">
        <button mat-button class="button" (click)="sendArmCommand(2)"
        [ngStyle]="leftGrabBtnStyle"
        >Left Grab</button>
    </div>
    <div class="item">
        <button mat-button class="button" (click)="sendArmCommand(4)"
        [ngStyle]="rightGrabBtnStyle"
        >Right Grab</button>
    </div>
</div>