<div class="container" #container>

    <div class="item">
        <fa-icon
            class="lock"
            (click)="armControlsEnabled= !armControlsEnabled"
            [icon]="(armControlsEnabled) ? faLockOpen:faLock">
        </fa-icon>
    </div>

    <div class="item">
        <div class="text">
            <h3>Yaw</h3>
        </div>
        <!-- (input)="update()" -->
        <mat-slider
            #yawSlider
            class="slider"
            [thumbLabel]="true"
            [ngStyle]="styleObj"
            [min]="arm.yaw.min"
            [max]="arm.yaw.max"
            [disabled]="!armControlsEnabled"
            [(ngModel)]="arm.yaw.value"
            (slideend)="sendYawTelemetry(yawSlider.value)"
            (pointerup)="sendYawTelemetry(yawSlider.value)">
        </mat-slider>
        <mat-form-field class="numberInput">
            <input matInput
                #yawInput
                class="number"
                type="number"
                [min]="arm.yaw.min"
                [max]="arm.yaw.max"
                placeholder="Yaw"
                autocomplete="off"
                [(ngModel)]="arm.yaw.value"
                [disabled]="!armControlsEnabled"
                (change)="sendYawTelemetry(yawInput.value)">
        </mat-form-field>
    </div>

    <div class="item">
        <div class="text">
            <h3>Pitch 1</h3>
        </div>

        <mat-slider
            #pitch1Slider
            class="slider"
            [thumbLabel]="true"
            [ngStyle]="styleObj"
            [min]="arm.pitch1.min"
            [max]="arm.pitch1.max"
            [disabled]="!armControlsEnabled"
            [(ngModel)]="arm.pitch1.value"
            (slideend)="sendPitch1Telemetry(pitch1Slider.value)"
            (pointerup)="sendPitch1Telemetry(pitch1Slider.value)">
        </mat-slider>
        <mat-form-field class="numberInput">
            <input matInput
                #pitch1Input
                class="number"
                type="number"
                [min]="arm.pitch1.min"
                [max]="arm.pitch1.max"
                placeholder="Pitch1"
                autocomplete="off"
                [(ngModel)]="arm.pitch1.value"
                [disabled]="!armControlsEnabled"
                (change)="sendPitch1Telemetry(pitch1Input.value)">
        </mat-form-field>
    </div>

    <div class="item">
        <div class="text">
            <h3>Pitch 2</h3>
        </div>
        <mat-slider
            #pitch2Slider
            class="slider"
            [thumbLabel]="true"
            [ngStyle]="styleObj"
            [min]="arm.pitch2.min"
            [max]="arm.pitch2.max"
            [disabled]="!armControlsEnabled"
            [(ngModel)]="arm.pitch2.value"
            (slideend)="sendPitch2Telemetry(pitch2Slider.value)"
            (pointerup)="sendPitch2Telemetry(pitch2Slider.value)">
        </mat-slider>
        <mat-form-field class="numberInput">
            <input matInput
                #pitch2Input
                class="number"
                type="number"
                [min]="arm.pitch2.min"
                [max]="arm.pitch2.max"
                placeholder="Pitch2"
                autocomplete="off"
                [(ngModel)]="arm.pitch2.value"
                [disabled]="!armControlsEnabled"
                (change)="sendPitch2Telemetry(pitch2Input.value)">
        </mat-form-field>
    </div>

    <div class="item">
        <div class="text">
            <h3>Roll</h3>
        </div>
        <mat-slider
            #rollSlider
            class="slider"
            [thumbLabel]="true"
            [ngStyle]="styleObj"
            [min]="arm.roll.min"
            [max]="arm.roll.max"
            [disabled]="!armControlsEnabled"
            [(ngModel)]="arm.roll.value"
            (slideend)="sendRollTelemetry(rollSlider.value)"
            (pointerup)="sendRollTelemetry(rollSlider.value)">
        </mat-slider>
        <mat-form-field class="numberInput">
            <input matInput
                #rollInput
                class="number"
                type="number"
                [min]="arm.roll.min"
                [max]="arm.roll.max"
                placeholder="Roll"
                autocomplete="off"
                [(ngModel)]="arm.roll.value"
                [disabled]="!armControlsEnabled"
                (change)="sendRollTelemetry(rollInput.value)">
        </mat-form-field>
    </div>


    <div class="item">
        <div class="text">
            <h3>Claw</h3>
        </div>
        <mat-slider
            #clawSlider
            class="slider"
            [thumbLabel]="true"
            [ngStyle]="styleObj"
            [min]="arm.claw.min"
            [max]="arm.claw.max"
            [disabled]="!armControlsEnabled"
            [(ngModel)]="arm.claw.value"
            (slideend)="sendClawTelemetry(clawSlider.value)"
            (pointerup)="sendClawTelemetry(clawSlider.value)">
        </mat-slider>
        <mat-form-field class="numberInput">
            <input matInput
                #clawInput
                class="number"
                type="number"
                [min]="arm.claw.min"
                [max]="arm.claw.max"
                placeholder="Claw"
                autocomplete="off"
                [(ngModel)]="arm.claw.value"
                [disabled]="!armControlsEnabled"
                (change)="sendClawTelemetry(clawInput.value)">
        </mat-form-field>
    </div>

    <div class="item">
        <div class="text">
            <h3>Hatch</h3>
        </div>
        <mat-slider
            #hatchSlider
            class="slider"
            [thumbLabel]="true"
            [ngStyle]="styleObj"
            [min]="arm.hatch.min"
            [max]="arm.hatch.max"
            [disabled]="!armControlsEnabled"
            [(ngModel)]="arm.hatch.value"
            (slideend)="sendHatchTelemetry(hatchSlider.value)"
            (pointerup)="sendHatchTelemetry(hatchSlider.value)">
        </mat-slider>
        <mat-form-field class="numberInput">
            <input matInput
                #hatchInput
                class="number"
                type="number"
                [min]="arm.hatch.min"
                [max]="arm.hatch.max"
                placeholder="Hatch"
                autocomplete="off"
                [(ngModel)]="arm.hatch.value"
                [disabled]="!armControlsEnabled"
                (change)="sendHatchTelemetry(hatchInput.value)">
        </mat-form-field>
    </div>

    <div class="item">
        <button mat-flat-button 
            color="warn"
            (click)="toggleArmed()"
            [ngStyle]="(armed) ? {'background-color': 'rgb(244,67,54)'} : {'background-color': 'rgb(28, 138, 55)'}">
        {{(armed ? 'Armed' : 'Disarmed')}}
        </button>
        <button mat-flat-button 
            color="warn"
            (click)="toggleManualOverride()"
            [ngStyle]="(manualOverride) ? {'background-color': 'rgb(244,67,54)'} : {'background-color': 'rgb(28, 138, 55)'}">
        {{(manualOverride ? 'Manual override' : 'Limits Applied')}}
        </button>
    </div>

</div>