<div class="container" #container>
    <div class="data-loader">
        <div class="loaded-model">
            {{socketService.getLoadLatest() ? 'Model: Current session': 'Model: Custom'}}
        </div>
        
    </div>
    <div class="grid">
        <mat-grid-list 
            cols="4"
            rows="4"
            rowHeight="4:1.8"
            [gutterSize]="'10px'"
            
            cdkDropList
            (cdkDropListDropped)="drop($event)">

                <mat-grid-tile
                    *ngFor="let screenItem of screenItems"
                    [colspan]="screenItem.colSize"
                    [rowspan]="screenItem.rowSize">

                        <app-screen-item
                            class="display-item"
                            [screenItem]="screenItem"
                            (onDeleteScreenItem)="deleteScreenItem($event)"
                            (onMoveScreenItem)="moveScreenItem($event)"
                            (onResizeScreenItem)="resizeScreenItem($event)">
                            
                        </app-screen-item>

                </mat-grid-tile>

        </mat-grid-list>
    </div>
    
</div>
