<div class="display" #container>

    <mat-form-field class="label-selector" appearance="fill">
        <mat-label>Labels</mat-label>
        <mat-select multiple (selectionChange)="setLabels($event)">
          <mat-option *ngFor="let label of allLabels" [value]="label">{{label}}</mat-option>
        </mat-select>
    </mat-form-field>

    <highcharts-chart 
    [Highcharts]="Highcharts"
    [constructorType]="'stockChart'" 
    [options]="chartOptions"
    [callbackFunction]="chartCallback"

    style="
        width: 100%;
        height: 100%;
        display: block;"
    ></highcharts-chart>
</div>